anndata==0.10.7
h5py==3.11.0
joblib==1.4.2
louvain==0.8.2
numpy==1.26.4
pandas==2.2.2
pillow==10.3.0
scanpy==1.10.1
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
torch==2.3.1+cu118
torchaudio==2.3.1+cu118
torchvision==0.18.1+cu118
umap-learn==0.5.6
CSCORE==1.0.0
locCSN==0.0.12
omicverse==1.6.10